################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExpensesManager.Api/obj
/ExpensesManager.Application/obj
/ExpensesManager.Domain/obj
/ExpensesManager.Infra/obj
/ExpensesManager.Shared/obj
/ExpensesManager.Tests/obj
/ExpensesManager.Api/bin/Debug/net6.0
/ExpensesManager.Application/bin/Debug/net6.0
/ExpensesManager.Domain/bin/Debug/net6.0
/ExpensesManager.Infra/bin/Debug/net6.0
/ExpensesManager.Shared/bin/Debug/net6.0
/ExpensesManager.Tests/bin/Debug/net6.0
ExpensesManager.Api/appsettings.json
ExpensesManager.Api/appsettings.Development.json
/Api/obj
/ExpensesManager.Infra.IoC/obj
/ExpensesManager.Infra.IoC/bin/Debug/net6.0
.idea/.idea.expenses-manager-api/.idea/vcs.xml
.idea/.idea.expenses-manager-api/.idea/indexLayout.xml
.idea/.idea.expenses-manager-api/.idea/encodings.xml
.idea/.idea.expenses-manager-api/.idea/.name
.idea/.idea.expenses-manager-api/.idea/workspace.xml
.idea/.idea.expenses-manager-api/.idea/projectSettingsUpdater.xml
/ExpensesManager.Api/.config
/ExpensesManager.Api/bin/Release/net6.0
/ExpensesManager.Api/Properties/PublishProfiles
/ExpensesManager.Api/Properties/ServiceDependencies/expenses-manager-api-prd - Web Deploy
/ExpensesManager.Api/Properties/serviceDependencies.expenses-manager-api - Web Deploy.json.user
/ExpensesManager.Application/bin/Release/net6.0
/ExpensesManager.Domain/bin/Release/net6.0
/ExpensesManager.Infra/bin/Release/net6.0
/ExpensesManager.Infra.IoC/bin/Release/net6.0
/ExpensesManager.Tests/bin/Release/net6.0
